<% content_for :title, @library %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banner-peoplenetz.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span10">
	<div class="row-fluid">
      <h3>
	    <%= @library.name %>
	  </h3>
  	  <%= @library.description.html_safe %>
	</div>
	

    <div class="row-fluid">
	  <div id="topic_content" class="span9">
		<%= render 'topic_content' %>
	  </div>
	  <div class="span3 ">
  		<div class="well library_topics" style="padding:5px">
		  <ul class="fonts-sitemap">
		    <% @library.library_topics.each do |topic| %>
			  <li><%= link_to topic.title, library_library_topic_path(@library, topic)+".json", :remote => true %></li>
		    <% end %>	
		  </ul>
		</div>
	  </div>
	</div>
  </div>

  <div class="span2">
	<div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Case Studies
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            This will contain a list of pdf files
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Brochures
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            This will contain a list of brochures
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Presentations
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            list of presentation
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
