<% content_for :title, @industry %>
<%= raw display_banner('industries') %>

<%= render "layouts/begin_content"%>

<div class="row-fluid">
  <div class="span10">
	<div class="row-fluid">
      <h4>
	    <%= @industry.name %>
	  </h4>
  	  <%= @industry.description.html_safe %>
	</div>
	
   <% if @industry_topic %>
    <div class="row-fluid">
	  <div class="span9">
		<%= render 'topic_content' %>
	  </div>
	  <div class="span3 ">
  		<div class="well sub_topics" style="padding:5px">
		  <ul class="fonts-sitemap">
		    <% @industry.industry_topics.order(:position).each do |topic| %>
			  <li><%= link_to topic.title, industry_industry_topic_path(@industry, topic)+".json", :remote => true, :value => 'jdtest' %></li>
		    <% end %>	
		  </ul>
		</div>
	  </div>
	</div>
   <% end %>
  </div>

  <div class="span2">
	<%= render 'libraries/accordion'%>
  </div>
</div>

<%= render "layouts/end_content"%>
