<% content_for :title, "About Us" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banners/banner-peoplenetz.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<h3><%= t "about.title1", default: "Link Global" %></h3>
    <p>
<%= t "about.para1", default: "Peoplenetz offers a broad array of tightly integrated products designed to help organizations run more efficiently and make the most of their human capital and available corporate data. We help organizations increase their performance by providing solutions that capitalize on knowledge generation, knowledge management and knowledge networks. The unifying theme of all of our applications is simplicity; we believe if software may only be productive if it is easy to use. Let us show you how." %>
	<%= button_to "Learn more &raquo;".html_safe, new_case_path, :class => "btn", :method => :get %>
	</p>
  </div>

  <div class="span3">
	<%= render "about_sidebar"%>
  </div> <!-- /span -->
</div>
