<% content_for :title, "About Us" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banners/banner-peoplenetz.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<div class="row-fluid">
	  <h3><%= t "about.title1", default: "Our Company" %></h3>
      <p>
<%= t "about.para1", default: "Peoplenetz helps organizations of all sizes and industries run more efficiently and effectively while reducing organizational costs. Peoplenetz empowers people and organizations to work together more efficiently and use business insight more effectively to stay ahead of the competition. We do this by extending the availability of software across on-premise installations, on-demand deployments and mobile devices." %>
	  </p>
    </div>

  	<div class="row-fluid">
      <p>
<%= t "about.para2", default: "The power of our solutions and partners drives growth and creates significant new value for our customers, Peoplenetz and ultimately entire industries and the economy at large." %>
	  </p>
	</div>

	<div class="row-fluid">
      <p>
<%= t "about.para3", default: "Our mission is to help organizations of all sizes and industries to run more efficiently with fewer resources. Our vision is to enable organizations around the world to deliver products and services for less for the betterment of society." %>
	  </p>
	</div>

  
  </div> <!-- /span -->
</div>
