<% content_for :title, "Careers" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banners/banner-products.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<h3><%= t "careers.header1", default: "Join Us"%></h3>
    <p>
<%= t "careers.para1", default: "We are always looking for great people to join our team." %>
	</p>
  </div>

  <div class="span3">
	<div class="row">
	  <div class="well">
	    <h4>Software Development</h4>
	    <p>
Are you a kick-ass ruby developer? Do you like developing awesome software applications? We would like to hear from you. <%= link_to "careers@peoplenetz.com", "mailto:careers@peoplenetz.com" %>
		</p>
	  </div> <!-- .well -->
    </div>
	<div class="row"> 
	  <div class="well sidebar-nav">
		<h4>Sales & Support</h4>
		<p>
Do you want to be part of something great?  Send us your resume: <%= link_to "careers@peoplenetz.com", "mailto:careers@peoplenetz.com" %>
		</p>	  
      </div> <!-- .well -->
	</div>
  </div> <!-- /span -->
</div>
