<% content_for :title, "Corporate Responsibility" %>
<%= raw display_banner %>

<%= render "layouts/begin_content"%>

<div class="row">
  <div class="span9 offset1">
	<div class="row-fluid">
	  <h4><%= t "corporate_responsibility.title1", default: "Corporate Responsibility" %></h4>
      <p>
<%= t "corporate_responsibility.para1", default: "As a multinational company engaged with customers and partners across the globe, Peoplenetz delivers solutions and services that accelerate businesses worldwide to increase growth and create value for our customers and for entire industries and the economy at large. We are committed to activities that build a sustainable world in which transparency and integrity are the building blocks of its foundation." %>
	  </p>
    </div>

  	<div class="row-fluid">
      <p>
<%= t "corporate_responsibility.para2", default: "Peoplenetz's corporate social responsibility program supports a wide range of projects and activities ranging from corporate philanthropy to higher learning. The program incorporates community stakeholders into our business not only to support corporate goals and responsibility but also to encourage positive social change in a sustainable way. Peoplenetz supports several major corporate social responsibility initiatives including:" %>
	  </p>
	  <ol>
	  	<li>Peoplenetz Scholarship Program – This program recognizes outstanding undergraduate students pursuing a degree in business, computer science, mathematics, or engineering.</li>
		<li>Peoplenetz Grant Program – This program makes strategic investments in non-profit organizations through programs within our areas of focus.</li>
	  </ol>
	</div>

	<div class="row-fluid">
	  <h4><%= t "corporate_responsibility.title3", default: "Volunteerism" %></h4>
      <p>
<%= t "corporate_responsibility.para3", default: "In addition to national and local programs, Peoplenetz encourages employee volunteerism. We partner with the Salvation Army and its local affiliates to support community service throughout the United States." %>
	  </p>
	</div>
  </div> <!-- /span -->
  <div class="span2"></div>
</div>

<%= render "layouts/end_content" %>
