<% content_for :title, "Help" %>

<%= raw display_banner('other','Get Trained, Get Help') %>

<%= render "layouts/begin_content"%>

<div class="row">
  <div class="span9 offset1">
	<div class="row-fluid">
      <p>
<%= t "help.para1", :default => "Peoplenetz offers three standard methods of training to our customers. The options are web-based instructor training, on-site training with one of our instructors and classroom training available to the public every two months at our training facility in New Orleans, Louisiana." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "help.title2", :default => "Web Training" %></h4>
      <p>
<%= t "help.para2", :default => "We offer production quality web-based training that was developed to simulate live, classroom training. Our expert instructors walk customers through the use and application of Specializ using step-by-step examples and scripts. This training is available free to all customers with active, paid subscriptions." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "help.title3", :default => "On-site Training" %></h4>
      <p>
<%= t "help.para3", :default => "In addition to web-based training we also offer on-site two day training sessions for up to 50 people. This option works well when customers have an explicit example in which Specializ will be used. We make this training format affordable and easy to schedule. We can make our expert trainers available with only one week’s notice and for a fixed daily fee of $2000 inclusive of all costs." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "help.title4", :default => "Classroom Training" %></h4>
      <p>
<%= t "help.para4", :default => "Every two months Peoplenetz offers classroom training at our New Orleans based training facility. We can accept up to 50 participants for each session. If you would like to reserve one or more seats please call +1-800-757-1237 for more information." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "help.title5", :default => "User Manuals" %></h4>
      <p>
<%= t "help.para5", :default => "Peoplenetz offers manuals that are focused on employee activities, manager activities, human resource activities and administrator activities. Our user manuals also contain examples and test cases for customers wanting to learn Specializ." %>
	  </p>
	</div>

  </div>
  <div class="span2"></div>
</div>

<%= render "layouts/end_content" %>
