<% content_for :title, "Help" %>

<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banners/banner-contact.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<div class="row-fluid">
	  <h3><%= t "help.title1", default: "Tutorials" %></h3>
      <p>
<%= t "help.para1", default: "Coming soon." %>
	  </p>
	</div>
	<div class="row-fluid">
	  <h3><%= t "help.title2", default: "Manuals" %></h3>
      <p>
<%= t "help.para2", default: "Coming soon." %>
	  </p>
	</div>
  </div>

 
</div>
