<% content_for :title, "Home" %>
</div><!-- content -->
</div><!-- /container -->

<div style="background-color:#F5F5F5;">

  <div class="container">
	<div class="slider-wrapper theme-default">
      <div class="ribbon"></div>
      <div id="slider" class="nivoSlider">
		<%= image_tag "slider_images/header1_md.jpg", :title => "#htmlcaption1" %>
        <%= image_tag "slider_images/header2_md.jpg", :title => "#htmlcaption2" %>
        <%= image_tag "slider_images/header3_md.jpg", :title => "#htmlcaption3" %>
		<%= image_tag "slider_images/header4_md.jpg", :title => "#htmlcaption4" %>
      </div>
	  <div id="htmlcaption1" class="nivo-html-caption">
		<%= link_to "Locate the subject matter expertise within your organization.", new_case_path %>
      </div>
	  <div id="htmlcaption2" class="nivo-html-caption">
        <%= link_to "Quickly bring groups of employees, consultants, or other participants to a consensus.", new_case_path %>
      </div>
 	  <div id="htmlcaption3" class="nivo-html-caption">
        <%= link_to "Get the information right with a guaranteed level of agreement.", new_case_path %>
      </div>
	  <div id="htmlcaption4" class="nivo-html-caption">
        <%= link_to "Gather information from stakeholders while spending less money.", new_case_path %>
      </div>
    </div>
  </div>

  <div id="awesometagline">
    <a href="#"><%= t "home.headline", default: "Turn insight into business as usual" %></a>
  </div>
</div>
<!--
<div class="span-window" style="background-color:#000000">
  <div style="width:960px; text-align:right;">
  </div>
</div>

<div class="row-fluid"></div>
-->
<div class="container">
  <div class="content">
	<div class="row">
	  <div class="span4">
	   <div class="hpbox">
		<%= image_tag 'elephant.png' %>
	    <h2>Faster</h2></br></br>
	    <p><%= t "home.faster", default: "Quickly locate the subject matter expertise within an organization and then use our products to bring any portion of employees or consultants to a consensus agreement.  Accomplish more in less time."%> </p>
	    <p>
		  <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
		</p>
	   </div>
	  </div>
	  <div class="span4">
	   <div class="hpbox">
		<%= image_tag 'elephant.png' %>
	    <h2>Better</h2></br></br>
	    <p><%= t "home.better", default: "Tired of rework? Get the requirements right along with a guaranteed level of agreement from stakeholders with Specializ." %> </p>
	    <p>
		  <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
		</p>
	   </div>
	  </div>
	  <div class="span4">
	   <div class="hpbox">
		<%= image_tag 'elephant.png' %>
	    <h2>Cheaper</h2></br></br>
	    <p><%= t "home.cheaper", default: "Spending too much getting your projects started? Gather information from stakeholders while spending less money." %></p>
	    <p>
		  <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
		</p>
       </div>
	  </div>
	</div>
  </div>
</div>


<div class="container">
  <div class="content">


