<div class="row-fluid">
  <div class="span12" style="background-color:#000000; text-align:center;">
	<div class="slider-wrapper theme-default">
      <div class="ribbon"></div>
      <div id="slider" class="nivoSlider">
		<%= image_tag "slider_images/toystory.jpg" %>
        <%= image_tag "slider_images/up.jpg" %>
        <%= image_tag "slider_images/walle.jpg" %>
        <%= image_tag "slider_images/nemo.jpg" %>
      </div>
      
    </div>
  </div>
</div> <!--/row -->

<div class="hero-unit">
  <h1><%= t "home.headline", default: "Turn insight into business as usual" %></h1>
  <p><%= t "home.under_headline", default: "Your employees are better than any content management system.  Use their knowledge." %></p>
  <p>
	<%= button_to "Learn more &raquo;".html_safe, solutions_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>


<div class="row">
  <div class="span4">
    <h2><%= image_tag 'elephant.png' %>Faster</h2>
    <p><%= t "home.faster", default: "Quickly locate the subject matter expertise within an organization and then use our products to bring any portion of employees or consultants to a consensus agreement.  Accomplish more in less time."%> </p>
    <p>
	  <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
	</p>
  </div>
  <div class="span4">
    <h2><%= image_tag 'elephant.png' %>Better</h2>
    <p><%= t "home.better", default: "Tired of rework? Get the requirements right along with a guaranteed level of agreement from stakeholders with Specializ." %> </p>
    <p>
	  <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
	</p>
  </div>
  <div class="span4">
    <h2><%= image_tag 'elephant.png' %>Cheaper</h2>
    <p><%= t "home.cheaper", default: "Spending too much getting your projects started? Gather information from stakeholders while spending less money." %></p>
    <p>
	  <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
	</p>
  </div>
</div>





