<% content_for :title, "Home" %>

<div style="background-color:#1B1B24; padding-top: 70px;">

  <div class="container">
	<div class="slider-wrapper theme-default">
      <div class="ribbon"></div>
      <div id="slider" class="nivoSlider">
		<%= image_tag "slider_images/header1.jpg", :title => "#htmlcaption1" %>
        <%= image_tag "slider_images/header2.jpg", :title => "#htmlcaption2" %>
        <%= image_tag "slider_images/header3.jpg", :title => "#htmlcaption3" %>
		<%= image_tag "slider_images/header4.jpg", :title => "#htmlcaption4" %>
      </div>
	  <div id="htmlcaption1" class="nivo-html-caption">
		<%= link_to "We make organizations faster, leaner and more efficient", new_case_path %>
      </div>
	  <div id="htmlcaption2" class="nivo-html-caption">
        <%= link_to "Elicit valid requirements at a fraction of the normal cost", new_case_path %>
      </div>
 	  <div id="htmlcaption3" class="nivo-html-caption">
        <%= link_to "Accelerate productivity while reducing operational expenses", new_case_path %>
      </div>
	  <div id="htmlcaption4" class="nivo-html-caption">
        <%= link_to "No more sampling, guarantee stakeholder buy-in", new_case_path %>
      </div>
   </div> <!-- /slider-wrapper -->
  </div> <!-- /container -->

  <div id="awesometagline">
    <a href="#"><%= t "home.headline", default: "Turn insight into business as usual" %></a>
  </div>
</div>

<%= render "layouts/begin_content"%>
  
	<div class="row">
	  <div class="span4">
	   <div class="hpbox">
		<div class="row">
		  <%= image_tag 'assessment.png', :size => '64x64' %>
	      <h2>Assessment</h2>
		</div>
		<div class="row">
	      <p><%= t "home.assessment", default: "Specializ accelerates the assessment of business ideas, product development and customer satisfaction"%> </p>
	      <p>
		    <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
		  </p>
		</div>
	   </div>
	  </div>

	  <div class="span4">
	   <div class="hpbox">
		<div class="row">
		  <%= image_tag 'compliance.png', :size => '64x64' %>
	      <h2>Compliance</h2>
		</div>
		<div class="row">
	      <p><%= t "home.compliance", default: "Our solutions drastically reduce the cost of compliance and risk management functions across functions and business lines" %> </p>
	      <p>
		    <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
		  </p>
		</div>
	   </div>
	  </div>
	  <div class="span4">
	   <div class="hpbox">
		<div class="row">
		  <%= image_tag 'consensus.png', :size => '64x64' %>
	      <h2>Consensus</h2>
		</div>
		<div class="row">
	      <p><%= t "home.consensus", default: "Specializ quickly transforms stakeholder management by guaranteeing organizational consensus on any topic with populations of user as opposed to samples" %></p>
	      <p>
		    <%= button_to "Learn more &raquo;".html_safe, specializ_path, :class => "btn" %>
		  </p>
		</div>
       </div>
	  </div>

	</div> <!-- /row -->
<%= render "layouts/end_content"%>