<% content_for :title, "Management" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banners/banner-specializ.png' %>
  </div>
</div> <!--/row -->

<div class="row">
  <div class="span6">
	<div class="well">  
	    <h3><%= t "management.mharrison_name", default: "Michael Harrison" %></h3>
		
	    <p>
<%= t "management.mharrison_bio", default: "Mr. Harrison brings years of consulting experience." %> 
		</p>
	</div>
  </div>

  <div class="span6">
	<div class="well">
	    <h3><%= t "management.jdavis_name", default: "James Davis, PhD" %></h3>
		
	    <p>
<%= t "management.jdavis_bio", default: "Dr. Davis is the technology anchor." %> 
		</p>
	</div>
  
  </div>
</div>

<div class="row">
  <div class="span6">
	<div class="well">
	    <h3><%= t "management.bcrisler_name", default: "Brittany Crisler" %></h3>
		
	    <p>
<%= t "management.bcrisler_bio", default: "Ms. Crisler is head of sales." %> 
		</p>
	</div>
  </div>

  <div class="span6">
	<div class="well">
	    <h3><%= t "management.unknown_name", default: "TBD" %></h3>
		
	    <p>
<%= t "management.unknown_bio", default: "TBD." %> 
		</p>
	</div>
  
  </div>
</div>