<% content_for :title, "Partners" %>
<div class="row-fluid">
  <div class="span12 banner">
	<%= image_tag 'banners/other.jpg' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<div class="row-fluid">
      <p>
<%= t "partners.para1", default: "Partnerships and alliances create additional benefits and opportunities for Peoplenetz and its customers so that we may deliver the best solutions for our customers." %>
	  </p>
	</div>

	<div class="row-fluid">
      <p>
<%= t "partners.para2", default: "Peoplenetz has developed a network of partnerships with a goal of helping our customers become high-performance businesses while getting the most value out of their Peoplenetz solution investments. Our alignment with market leaders and emerging players enables us to deliver a more complete solution to our clients." %>
	  </p>
	</div>
	
	<div class="row-fluid">
	  <h3><%= t "partners.title3", default: "Becoming a Peoplenetz Partner" %></h3>
      <p>
<%= t "partners.para3", default: "We work with more than 20 technology market leaders to extend our solutions and capabilities. Our network of partnerships strengthens our ability to help our customers achieve sustainable cost reduction, reduced operational expenses, reduced delivery risk and drastically better business outcomes." %>
	  </p>
	</div>

	<div class="row-fluid">
      <p>
<%= t "partners.para4", default: "The proliferation of products, services and vendors creates a constant challenge for organizations wishing to optimize existing assets and accommodate new technologies. As a result, executives are searching for trusted and objective advisors with the knowledge and experience to help them navigate the sea of available technology." %>
	  </p>
	</div>
	
	<div class="row-fluid">
      <p>
<%= t "partners.para5", default: "Peoplenetz relies upon our network of partnerships to augment our knowledge of the technology providers and solutions available throughout the globe. Our customers benefit from that knowledge, as well as our integration and functional expertise in combining multiple vendor solutions." %>
	  </p>
	</div>

	<div class="row-fluid">
      <p>
<%= t "partners.para6", default: "In addition, Peoplenetz customers can take advantage of our partnerships to reduce the risk and costs associated with the technology procurement process as well as the total cost of technology ownership. We help organizations to streamline and expedite decision making and procurement processes concerning solutions we integrate with." %>
	  </p>
	</div>

  </div>

  
</div>
