<% content_for :title, "Sales" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banner-specializ.png' %>
  </div>
</div> <!--/row -->

<div class="row">
  <div class="span6">
	<div class="well">  
	    <h3><%= t "sales.title1", default: "Hosted enterprise" %></h3>
	    <p>
<%= t "sales.para1", default: "Unlimited access for your entire organization." %> 
		</p>
	</div>
  </div>

  <div class="span6">
	<div class="well">   
	    <h3><%= t "sales.title2", default: "Hosted project" %></h3>
	    <p>
<%= t "sales.para2", default: "We host it to use for your project." %> 
		</p>
	</div>
  
  </div>
</div>

<div class="row">
  <div class="span6">
	<div class="well">
	    <h3><%= t "sales.title3", default: "On Premises Enterprise" %></h3>
	    <p>
<%= t "sales.para3", default: "Host it behind your firewall." %> 
		</p>
	</div>
  </div>

  <div class="span6">
	<div class="well">
	    <h3><%= t "sales.title4", default: "On Premises Project" %></h3>
	    <p>
<%= t "sales.para4", default: "Host it behind your firewall." %> 
		</p>
	</div>
  
  </div>
</div>