<% content_for :title, "Sales" %>
<div class="row-fluid">
  <div class="span12 banner">
	<%= image_tag 'banners/other.jpg' %>
  </div>
</div> <!--/row -->

<div class="row">
  <div class="span9">
	<div class="row-fluid">
	  <h3><%= t "sales.title1", default: "Hosted Enterprise" %></h3>
      <p>
<%= t "sales.para1", default: "The Hosted Enterprise license allows customers unlimited usage of Specializ within your organization. There are no limits to the number of users or assessments organizations may conduct. The license model is a simple subscription service that may be renewed annually. The Hosted Enterprise license allows the following types of activities:" %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h3><%= t "sales.title2", default: "Hosted Project" %></h3>
      <p>
<%= t "sales.para2", default: "Specializ may be used on a per-project basis. There is no license to deal with and the pricing is simple. Specializ may be purchased on a monthly basis in blocks of 10 users. Peoplenetz can also host your solution as well so there is no implementation whatsoever. You can get Specializ up and running in a matter of minutes." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h3><%= t "sales.title3", default: "On Premises Enterprise" %></h3>
      <p>
<%= t "sales.para3", default: "Similar to the Hosted Enterprise license, customers can have unlimited users and access to Specializ but rather than us hosting it we can deploy it to your environment. This license type is also an annual subscription that deploys to VMWare environments. Even though Specializ is run internally in customer environments we will still be able to push bug fixes, updates and enhancements to customer environments." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h3><%= t "sales.title4", default: "On Premises Project" %></h3>
      <p>
<%= t "sales.para4", default: "Organizations may also choose to run Specializ internally on a monthly basis in packs of 10 users. There is no implementation to manage as we provide our customers with VMware instances that are fully configured and ready to run with no implementation to manage. This is a viable option for customers with security concerns regarding the content of information developed using Specializ." %>
	  </p>
	</div>

  </div>
</div>

