<% content_for :title, "Services" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banner-products.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<div class="row-fluid">
	  <h3><%= t "services.title1", default: "Products" %></h3>
      <p>
<%= t "services.para1", default: "Peoplenetz offers a broad array of tightly integrated products designed to help organizations run more efficiently and make the most of their human capital and available corporate data. We help organizations increase their performance by providing solutions that capitalize on knowledge generation, knowledge management and knowledge networks. The unifying theme of all of our applications is simplicity; we believe if software may only be productive if it is easy to use. Let us show you how." %>
	  </p>
	</div>
	
	<div class="row-fluid">
	  <h3><%= t "services.title2", default: "Consulting" %></h3>
      <p>
<%= t "services.para2", default: "Peoplenetz offers limited consulting to select clients." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h3><%= t "services.title3", default: "Software Development" %></h3>
      <p>
<%= t "services.para3", default: "We understand information.  We understand software development.  We understand the business behind both. If you have an amazing idea, but don’t know how to bring it to market, we can help. We can take your idea and make it a reality. We can help you create brilliant, winning products. We’re your technology partner. We believe technology should be simple and beautiful but powerful and efficient." %>
	  </p>
	</div>
  </div>

  <div class="span3">
	<%= render 'about_sidebar'%>
  </div> <!-- /span -->
</div>
