<% content_for :title, "Services" %>
<%= raw display_banner('services') %>

<%= render "layouts/begin_content" %>

<div class="row">
  <div class="span9 offset1">
	<div class="row-fluid">

<img src="images/pages/accordion.gif" align="left">

      <p>
<%= t "services.para1", default: "Peoplenetz offers an array of services to its customers to include advisory, configuration, administration and software services." %>
	  </p>
	</div>
	
	<div class="row-fluid">
	  <h4><%= t "services.title2", default: "Advisory Services" %></h4>
      <p>
<%= t "services.para2", default: "Peoplenetz offers advisory services in project management, financial services, risk management, and organizational transformation. We work with our clients to build effective organizations by innovation, growth, cost reduction, and managing risk and regulation. We offer solutions to organizations that provide sustainable change and continuous process improvement to maximize opportunities throughout the enterprise. We help lower operating costs, better cash flow, efficient processes and customer satisfaction can lead to improved market share and higher margins. Our clients have realized significant cost reduction and revenue growth initiatives through our products. Our solutions are perpetual and continue to drive down costs and improvement organizational performance as opposed to one-time improvement events that often fail. Our goal is to support you in designing, managing and executing lasting beneficial organizational change." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "services.title3", default: "Configuration Services" %></h4>
      <p>
<%= t "services.para3", default: "Peoplenetz offers a QuickStart package to its customers to configure your organization’s Specializ environment for user management and library development." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "services.title4", default: "Administration Services" %></h4>
      <p>
<%= t "services.para4", default: "Peoplenetz offers simple support agreements to administer your organization’s Specializ environment so your firms’ employees do not have to. This includes the creation, assistance and management of assessments needed by your organization." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "services.title5", default: "Software Development" %></h4>
      <p>
<%= t "services.para5", default: "Peoplenetz offers custom development to provide customers with enhancements and features to better meet their needs. Peoplenetz has extremely quick turnaround times in developing custom customer features. In fact, the average feature request has taken us less than 4.2 days to deploy, test and deploy. Over the last 6 years Peoplenetz has streamlined its development process to bring its customers greater ROI and much lower ongoing maintenance costs." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "services.title6", default: "Agile Development Practices" %></h4>
      <p>
<%= t "services.para6", default: "To meet customer demands and feature requests we use agile based development methodology, in which new releases and bug fixes are pushed to client implementations every 1-2 weeks. In conjunction with new deployments we socialize changes by providing demos and training to clients. This ensures stakeholders are always kept in the loop and aware of the evolving state of our applications." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "services.title7", default: "High Stress on Requirements" %></h4>
      <p>
<%= t "services.para7", default: "One of the major reasons why customization and enhancements often do not go as planned is that their requirements are misunderstood. We have developed a methodology wherein the requirements are not only discussed and captured upfront but also validated in prototypes to remove any element of surprise." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "services.title8", default: "Testing Capabilities" %></h4>
      <p>
<%= t "services.para8", default: "We place a high level of criticality and importance to the planning and the testing of our applications to ensure quality, performance and compliance to specifications. We have a comprehensive quality assurance and testing capability with expertise in behavioral, compatibility, performance and automation testing." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "services.title9", default: "Technology Depth" %></h4>
      <p>
<%= t "services.para9", default: "We have a dedicated technology group focused on providing fast and reliable on-demand services to our customers. Our applications are typically deployed via Amazon EC2 but may also deployed to any cloud or on-premises environment." %>
	  </p>
	</div>

	<div class="row-fluid">
	  <h4><%= t "services.title10", default: "Full Visibility and Transparency" %></h4>
      <p>
<%= t "services.para10", default: "Peoplenetz has implemented a fully integrated development process designed to keep our customers informed of the status of their change and enhancement requests as well as any associated challenges and issues. This process offers our customer full transparency and visibility into their requests." %>
	  </p>
	  <br/>
	  <br/>
	</div>

  </div>
  <div class="span2"></div>
</div>

<%= render "layouts/end_content" %>
