<% content_for :title, "Solutions" %>
<div class="row">
  <div class="span9">
    <h3><%= t "solutions.title1", default: "Innovate your business" %></h3>
    <p>
<%= t "solutions.para1", default: "Peoplenetz offers a broad array of tightly integrated products designed to help organizations run more efficiently and make the most of their human capital and available corporate data. We help organizations increase their performance by providing solutions that capitalize on knowledge generation, knowledge management and knowledge networks." %> 
	</p>
  
    <h3><%= t "solutions.title2", default: "Transform without difficulty" %></h3>
    <p>
<%= t "solutions.para2", default: "The unifying theme of all of our applications is simplicity; we believe if software may only be productive if it is easy to use. Let us show you how." %>
	</p>
  </div>

  <div class="span3">
	<div class="well sidebar-nav">
	    <h3>Case Studies</h3>
	    <ul class="nav nav-list">
	     <li><%= link_to "Specializ Examples", "/documents/specializ_examples.pdf"  %></li>
	</div> <!--.well -->
  </div>
</div>
