<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banner-specializ.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<p>
	<%= image_tag "logo-specializ.png"%> 
	</p>
  	<p>
Specializ is an innovative web-based organizational knowledge-generation software application. 
It is designed to easily extract information from an organization's employees on topics of interest 
to the organization. Specializ allows organizations to utilize the knowledge stored within its 
greatest resource, its employees. It provides a simple method, using any logical subset of employees, 
to generate knowledge on any topic.
	</p>
	<p>
 A single topic may be sent to unlimited subsets of employees. 
In addition, managers can assign different levels, measured in percentages, of agreement for each 
subset of employees. Specializ is extremely easy to use, requiring very little time. It ensures the 
anonymity of the information collected thus increasing the likelihood users will respond both honestly 
and accurately. 
	</p>
	<p>
Guaranteeing the quality of your results is easy because Specializ allows managers 
to define minimum levels of agreement for all topics they manage. Due to its flexible design, 
Specializ allows managers to assign different agreement levels to any or all subsets of employees 
working on a topic. This functionality gives managers precise control over topic requirements.
	</p>
	<p>
Users, both employees and external contractors, are presented with the following tasks when using the system: 
	<ul>
	  <li>Add/Edit/Delete elements from the topic list</li>
	  <li>Define the individual relevance of each element</li>
                        
	</ul>
  	</p>
	<p>
Specializ not only integrates with virtually any ERP system, it does so in a very smart way. It pulls in 
employee, department and location data from an existing HR or ERP system, and goes one step further. It 
allows the organization to create Specializ departments that can nest one or more departments that already 
exist in its ERP system. Specializ also offers the same nesting functionality for both job roles and locations. 
In addition, its nested design allows organizations to pinpoint location-based logical groups of users 
comprised of entire departments, job roles and/or individual employees. Organizations also have the 
flexibility to choose between Specializ created and ERP-based departments, job roles and locations.
	</p>

  </div>
  <div class="span3">
	<div class="row">
	  <div class="well sidebar-nav">
	    <h3>Product Downloands</h3>
	    <ul class="nav nav-list">
	     <li class="nav-header">Brochures</li>
	     <li><%= link_to "Specializ Brochure", "#"  %></li>
		 <li class="nav-header">Product Demo</li>
	     <li><%= link_to "Flash Demo", "http://www.peoplenetz.com/downloads/specializ_video.swf"  %></li>
	<!--
		 <li class="nav-header">Screencasts</li>
		 <li><%= link_to "Participate in a topic", "https://www.youtube.com/watch?v=juE3mVjFR1o", :target => "_blank" %></li>
		 <li><%= link_to "Manage a topic", "https://www.youtube.com/watch?v=c9NAuMilbQo", :target => "_blank" %> </li>
		 <li><%= link_to "Create a topic", "https://www.youtube.com/watch?v=nlCo-ZFqrNM", :target => "_blank" %></li>
		 <li><%= link_to "Information on groups", "https://www.youtube.com/watch?v=8NJMWu3wT20", :target => "_blank" %></li>
	     <li><%= link_to "Import topic elements", "https://www.youtube.com/watch?v=oVy6mgb_lPo", :target => "_blank" %></li>
	-->
	    </ul>
	  </div> <!--.well -->
    </div>
	<div class="row"> 
	  <div class="well sidebar-nav">
		<h3>Technical Specifications</h3>
	  </div>
	</div>
  </div> <!-- /span -->
</div>
