	<div class="row">
	  <div class="well">
	    <h4>Contact</h4>
	    <ul class="unstyled">
		  <li><%= t "contact.us_address_name", default: "Peoplenetz, LLC" %></li>
		  <li><%= t "contact.us_address_street", default: "7117 Florida Blvd" %></li>
		  <li><%= t "contact.us_address_city", default: "Baton Rouge, LA 70815" %></li>
		  <li><%= t "contact.us_address_phone1", default: "+1-800-757-1237" %></li>
		  <li><%= t "contact.us_address_phone2", default: "+1-225-612-2142" %></li>
	    </ul>
		<ul class="unstyled">
		  <li><%= t "contact.aus_address_name", default: "Peoplenetz, AUS" %></li>
		  <li><%= t "contact.aus_address_street1", default: "608 Harris Street" %></li>
		  <li><%= t "contact.aus_address_street2", default: "Level 2" %> </li>
		  <li><%= t "contact.aus_address_city", default: "Ultimo NSW 2007" %></li>
		  <li><%= t "contact.aus_address_phone1", default: "+61 419 868 244" %></li>
	    </ul>
		<ul class="unstyled">
		  <li><%= link_to "sales@peoplenetz.com", "mailto:sales@peoplenetz.com"  %>
		</ul>
	  </div>
	</div> <!-- row -->
	<div class="row">
	  <div class="well">
	    <h4>Technical Support</h4>
	    <!-- BEGIN ProvideSupport.com Graphics Chat Button Code -->
		<div id="ciWMjj" style="z-index:100;position:absolute;"></div><div id="scWMjj" style="display:inline"></div><div id="sdWMjj" style="display:none"></div><script type="text/javascript">var seWMjj=document.createElement("script");seWMjj.type="text/javascript";var seWMjjs=(location.protocol.indexOf("https")==0?"https":"https")+"://image.providesupport.com/js/peoplenetz/safe-standard.js?ps_h=WMjj&ps_t="+new Date().getTime();setTimeout("seWMjj.src=seWMjjs;document.getElementById('sdWMjj').appendChild(seWMjj)",1)</script><noscript><div style="display:inline"><a href="https://www.providesupport.com?messenger=peoplenetz">Live Help Chat</a></div></noscript>
		<!-- END ProvideSupport.com Graphics Chat Button Code -->
		<ul class="unstyled">
		  <li><%= link_to "support@peoplenetz.com", "mailto:support@peoplenetz.com"  %></li>
	    </ul>
		
	  </div>
	</div> <!-- row -->