<%= simple_form_for(@contact, :html => {:class => 'form-horizontal' }) do |f| %>
 
  <%= f.input :subject, :collection => [ "Request a Demo", "Sales", "Technical", "Partnership"] %>
  <%= f.input :name, :required => true, :input_html => { :class => "span6"} %>
  <%= f.input :email, :required => true, :input_html => { :class => "span6"} %>
  <%= f.input :country, :priority => [ "United States", "Australia" ] %>
  <%= f.input :message, :as => :text, :input_html => { :class => "span6", :style => "resize:none;" } %>
  <div class="form-actions form-button" >
    <%= f.button :submit, "Submit Request" %>
  </div>
  <%=# recaptcha_tags 
%>
  
<% end %>
