<% content_for :title, "Contact Us" %>
<div class="row-fluid">
  <div class="span12">
	<%= image_tag 'banners/banner-contact.png' %>
  </div>
</div> <!--/row -->

<div class="row-fluid">
  <div class="span9">
	<h3><%= t "contact.header", default: "Information Request" %></h3>
	<p><%= t "contact.under_header", default: "Have a question?  We would like to hear from you." %></p>
  	<% flash.each do |key, value| %>
      <div class="alert alert-success">
		<button class="close" data-dismiss="alert">×</button>
		<strong><%= value %></strong>
	  </div>
    <% end %>
	<%= render 'form' %>
	
  </div>

  <div class="span3">
	<%= render 'contact_info' %>
  </div> <!-- span -->
</div>
