<% content_for :title, @solution%>
<%= raw display_banner('solutions') %>

<%= render "layouts/begin_content"%>

<div class="row-fluid">
  <div class="span10">
	<div class="row-fluid">
  	  <%= @solution.description.html_safe %>
	</div>
	
   <% if @solution_topic %>
    <div class="row-fluid">
	  <div class="span9">
		<%= render 'topic_content' %>
	  </div>
	  <div class="span3 ">
  		<div class="well sub_topics" style="padding:5px">
		  <ul class="fonts-sitemap">
		    <% @solution.solution_topics.order(:position).each do |topic| %>
			  <li><%= link_to topic.title, solution_solution_topic_path(@solution, topic)+".json", :remote => true, :value => 'jdtest' %></li>
		    <% end %>	
		  </ul>
		</div>
	  </div>
	</div>
   <% end %>
  </div>

  <div class="span2">
	<%= render 'libraries/accordion'%>
  </div>
</div>

<%= render "layouts/end_content" %>
