<footer>
	<div class="container" >
	  <div class="content">
		<div class="row">
	  	  <div class="span3 ">
				<h1 class="fonts-sitemap-title">Presentations</h1>
				<ul class="fonts-sitemap">
				  	<li><a href="../assets/documents/presentations/RS Specializ Presentation.pptx">Accelerating Risk Management</a></li>
					<li><a href="../assets/documents/presentations/PM Specializ Presentation.pptx">Accelerating Project Management</a></li>
					<li><a href="../assets/documents/presentations/OHS Specializ Presentation.pptx">Automating OH&S Health Assessments</a></li>
				</ul>
		  </div>
	
		  <div class="span2">
				<h1 class="fonts-sitemap-title">Ways to Buy</h1>
				<ul class="fonts-sitemap">
					<li><%= link_to 'Hosted Enterprise', sales_path %></li>
					<li><%= link_to 'Hosted Project', sales_path %></li>
					<li><%= link_to 'On Premises Enterprise', sales_path %></li>
					<li><%= link_to 'On Premises Project', sales_path %></li>
				</ul>
		  </div>
	
		  <div class="span2">
				<h1 class="fonts-sitemap-title">Help</h1>
				<ul class="fonts-sitemap">
					<li><%= link_to 'Web Training', help_path %></li>
					<li><%= link_to 'On-site Training', help_path %></li>
					<li><%= link_to 'Classroom Training', help_path %></li>
					<li><%= link_to 'User Manuals', help_path %></li>
				</ul>
		  </div>
		  <div class="span3">
				<h1 class="fonts-sitemap-title">Success Stories</h1>
				<ul class="fonts-sitemap">
					<li>Process Improvement of the AP Function</li>
					<li>Risk Management of Shared Services</li>
					<li>Compliance Management Using Controls Self-Assessment</li>
					<li>SAP Business Requirements</li>
					<li>Business Rule Creation for Financial Transformation</li>
				</ul>
		  </div>
	
		  <div class="span2">
				<h1 class="fonts-sitemap-title">Company</h1>
				<ul class="fonts-sitemap">
					<li><%= link_to 'About Us', about_path %></li>
					<li><%= link_to 'Contact Us', new_contact_path %></li>
					<li><%= link_to 'Management Team', management_path %></li>
					<li><%= link_to 'Partners', partners_path %></li>
					<li><%= link_to 'Careers', careers_path %></li>
					<li><%= link_to 'Corporate Responsibility', corporate_responsibility_path %></li>
				</ul>
	 	  </div>
	    </div>	

		<div class="row">
	  	  <div class="span2">
  			<p>&copy; Peoplenetz, 2012</p>
		  </div>
		</div>

	  </div> <!--/content -->
	</div> <!--/container -->

</footer>