<div class="navbar navbar-fixed-top">

  <div id="social">
    <%= link_to image_tag('facebook.png'), "http://www.facebook.com/Peoplenetz", :target => "_blank" %>
    <%= link_to image_tag('twitter.png'), "https://twitter.com/#!/Peoplenetz", :target => "_blank" %>
    <%= link_to image_tag('linkedin.jpg'), "http://www.linkedin.com/company/1871259", :target => "_blank" %>
  </div>

  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_path %>"> <%= image_tag('peoplenetz-2.png', :size => "98x25") %></a>
      <div class="container nav-collapse">
      	<ul class="nav">
              <li><%= link_to "Why Peoplenetz", about_path  %></li>
              
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Industries<b class="caret"></b></a>
 				<ul class="dropdown-menu">
				  <% Industry.all(:order => "name").each do |industry| %>
					<li><%= link_to industry.name, industry %></li>
				  <% end %>
				</ul>
			  </li>

              <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions<b class="caret"></b></a>
 				<ul class="dropdown-menu">
				  <% Solution.all(:order => "name").each do |solution| %>
					<li><%= link_to solution.name, solution %></li>
				  <% end %>
				</ul>
			  </li>
			  
		      <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Libraries<b class="caret"></b></a>
 				<ul class="dropdown-menu">
				  <% Library.all(:order => "name").each do |library| %>
					<li><%= link_to library.name, library %></li>
				  <% end %>
				</ul>
			  </li>
              <li><%= link_to "Build Your Business Case", new_case_path  %></li>
              <li><%= link_to "Services", services_path  %></li>
 			  <li><%= link_to "Request a Demo", new_contact_path  %></li>
      	</ul>
        
      </div><!--/.nav-collapse -->
        
    </div>
  </div>
</div>